<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CDN_FONT_AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

    <!-- MS_CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE_JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <title>Document</title>
</head>

<body>

    <div id="root">

        <!-- SECTION_1 -->

        <section id="section_1">

            <header>

                <div class="container container_1">

                    <div class="nav_menu_container">
    
                        <ul class="nav_menu_left">
    
                            <li v-for="(item, index) in navMenuLeft">
    
                                <a :href="item.linkAddress" :class="index == activeLinkLeft ? 'active' : null " @click="changeActiveLinkLeft(index)">
    
                                    {{item.linkName}}
    
                                </a>
    
                            </li>
    
                        </ul>
    
                        <div class="logo"><a href="#"><img :src="headerLogo" alt=""></a></div>
    
                            <i class="fas fa-bars hamburger_menu" @click="showMenu"></i>

                            <ul class="nav_menu_right">
    
                                <li v-for="(item, index) in navMenuRight">
    
                                    <a :href="item.linkAddress" :class="index == activeLinkRight ? 'active' : null" @click="changeActiveLinkRight(index)">
    
                                        {{item.linkName}}
    
                                    </a>
    
                                </li>
    
                            </ul>
    
                    </div>

                    <div class="sidemenu" v-show="navVisible">

                        <nav>

                            <div class="sidemenu_wrapper">

                                <ul class="sidemenu_list">
    
                                    <li v-for="(item, index) in navMenuLeft">
        
                                        <a :href="item.linkAddress" :class="index == activeLinkLeft ? 'active' : null " @click="changeActiveLinkLeft(index)">
            
                                            {{item.linkName}}
            
                                        </a>
            
                                    </li>
    
                                    <li v-for="(item, index) in navMenuRight">
        
                                        <a :href="item.linkAddress" :class="index == activeLinkRight ? 'active' : null" @click="changeActiveLinkRight(index)">
        
                                            {{item.linkName}}
        
                                        </a>
        
                                    </li>
                                
                                </ul>
    
                            </div>

                        </nav>

                    </div>
    
                </div>

            </header>

            <div class="container container_2" @click="hideMenu">

                <div class="homepage_banner">

                    <img src="img/avada-nightclub-homepage-image-1200x596.png" alt="">

                </div>

                <div class="homepage_title">

                    <h1 class="title">making memories all night long</h1>

                </div>

                <div class="homepage_button">

                    <button>become a vip</button>

                </div>

            </div>

            <div class="container container_3">

                <div class="homepage_bottom_logo">

                    <img src="img/avada-nightclub-play-showreel-200x47.png" alt="">

                </div>

        </section>

        <!-- /SECTION_1 -->

        <!-- SECTION_2 -->

        <section id="section_2">

            <div class="container container_4">

                <div class="description_page">

                    <h3 class="first">welcome to avada</h3>
    
                    <h1 class="title">have the night of your life</h1>
    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, fuga omnis nostrum eaque, velit alias voluptate sunt perferendis ducimus nam facilis laboriosam exercitationem quod, maiores debitis modi dolore harum ipsa?</p>
    
                </div>

            </div>

            <div class="container container_5">

                <div class="first_row_card">

                    <div class="card_wrapper">

                        <img src="img/avada-nightclub-dancelounge-small.jpg" alt="">

                        <h4 class="card_title">dance lounge</h4>

                        <div class="blue_line"></div>

                    </div>

                    <div class="card_wrapper">

                        <img src="img/avada-nightclub-rooftoplounge-small.jpg" alt="">

                        <h4 class="card_title">rooftop bar</h4>

                        <div class="purple_line"></div>

                    </div>

                </div>

                <div class="second_row_card">

                    <div class="card_wrapper">
    
                        <img src="img/avada-nightclub-viplounge-small.jpg" alt="">
    
                        <h4 class="card_title">vip lounge</h4>
    
                        <div class="gold_line"></div>
    
                    </div>
    
                    <div class="card_wrapper">
    
                        <img src="img/avada-nightclub-events-small.jpg" alt="">
    
                        <h4 class="card_title">resident dj</h4>
    
                        <div class="red_line"></div>
    
                    </div>
    
                </div>

            </div>

        </section>

        <!-- /SECTION_2 -->

        <!-- SECTION_3 -->

        <section id="section_3">

            <div class="container container_6">

                <div class="row_card">

                    <div class="card_1">

                        <h4>resident dj</h4>

                        <h1>dj avada</h1>

                        <button>view profile</button>

                    </div>

                    <div class="card_2">

                        <h4>special guest dj</h4>

                        <h1>dj blondie</h1>

                        <button>view profile</button>

                    </div>

                </div>

            </div>

        </section>

        <!-- /SECTION_3 -->

        <!-- SECTION_4 -->

        <section id="section_4">

            <div class="container container_7">

                <div class="description_page">

                    <h3 class="second">special events</h3>
    
                    <h1 class="title">for your diary</h1>
    
                </div>

                <div class="card_grid">

                    <div class="card">

                        <img src="img/avada-nightclub-events-6-200x113.jpg" alt="">

                        <h4>DJ Fusion</h4>

                        <span>August 19, 2021 @8:00 am</span>

                    </div>

                    <div class="card">

                        <img src="img/avada-nightclub-events-5-200x113.jpg" alt="">

                        <h4>House Nation</h4>

                        <span>August 19, 2021 @8:00 am</span>

                    </div>

                    <div class="card">

                        <img src="img/avada-nightclub-events-4-200x113.jpg" alt="">

                        <h4>Jazz Night</h4>

                        <span>August 19, 2021 @8:00 am</span>

                    </div>

                    <div class="card">

                        <img src="img/avada-nightclub-events-3-200x113.jpg" alt="">

                        <h4>VIP Taster Sessions</h4>

                        <span>September 1, 2021 @8:00 am</span>

                    </div>

                    <div class="card">

                        <img src="img/avada-nightclub-events-2-200x113.jpg" alt="">

                        <h4>Funky House Rave</h4>

                        <span>September 16, 2021 @8:00 am</span>

                    </div>

                    <div class="card">

                        <img src="img/avada-nightclub-events-1-200x113.jpg" alt="">

                        <h4>Urban Vibes</h4>

                        <span>September 20, 2021 @8:00 am</span>

                    </div>

                </div>

                <button>rsvp now</button>

            </div>

        </section>

        <!-- /SECTION_4 -->

        <!-- SECTION_5 -->

        <section id="section_5">

            <div class="container container_8">

                <div class="bottom_banner_left">

                    <h3>become a vip tonight</h3>

                    <h1>exclusive vip lounge</h1>

                </div>

                <div class="bottom_banner_right">

                    <button>join the club</button>

                </div>

            </div>

        </section>

        <!-- /SECTION_5 -->

        <!-- FOOTER -->

        <footer>

            <div class="container container_9">

                <div class="footer_nav_menu_container">
    
                    <ul class="footer_nav_menu">

                        <li v-for="(item, index) in footerNavMenu">

                            <a :href="item.linkAddress">

                                {{item.linkName}}

                            </a>

                        </li>

                    </ul>

                </div>

                <div class="footer_logo"><a href="#"><img :src="footerLogo" alt=""></a></div>

                <div class="email">

                    <ul>

                        <li v-for="(email,index) in emailLinks"><a :href="email.link">{{email.emailName}}</a></li>

                    </ul>

                </div>

                <div class="social_links">

                    <ul>

                        <li v-for="(link, index) in socialLinks">

                            <a href="#"><i :class="socialLinks[index]"></i></a>

                        </li>

                    </ul>

                </div>

                <div class="footer_info">

                    <span>{{copyRight}}</span>

                </div>

                <div class="back_top" @click="scrollToTop">

                    <i class="fas fa-chevron-up"></i>

                </div>

            </div>

        </footer>

        <!-- /FOOTER -->

    </div>



    <!-- SCRIPT_JS -->
    <script src="js/script.js"></script>

</body>

</html>