<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CDN_FONT_AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

    <!-- MS_CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE_JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <title>Document</title>
</head>

<body>

    <div id="root">

        <section id="section_1">

            <div class="container container_1">

                <header>

                    <div class="nav_menu_container">

                        <ul class="nav_menu_left">

                            <li v-for="(item, index) in navMenuLeft">

                                <a :href="item.linkAddress" :class="index == activeLinkLeft ? 'active' : null " @click="changeActiveLinkLeft(index)">

                                    {{item.linkName}}

                                </a>

                            </li>

                        </ul>

                        <div class="logo"><a href="#"><img :src="headerLogo" alt=""></a></div>

                        <i class="fas fa-bars hamburger_menu"></i>

                        <ul class="nav_menu_right">

                            <li v-for="(item, index) in navMenuRight">

                                <a :href="item.linkAddress" :class="index == activeLinkRight ? 'active' : null" @click="changeActiveLinkRight(index)">

                                    {{item.linkName}}

                                </a>

                            </li>

                        </ul>

                    </div>

                </header>

            </div>

            <div class="container container_2">

                <div class="homepage_banner">

                    <img src="img/avada-nightclub-homepage-image-1200x596.png" alt="">

                </div>

                <div class="homepage_title">

                    <h1 class="title">making memories all night long</h1>

                </div>

                <div class="homepage_button">

                    <button>become a vip</button>

                </div>

            </div>

            <div class="container container_3">

                <div class="homepage_bottom_logo">

                    <img src="img/avada-nightclub-play-showreel-200x47.png" alt="">

                </div>

        </section>

        <section id="section_2">

            <div class="container container_4">

                <div class="description_page">

                    <h3>welcome to avada</h3>
    
                    <h1 class="title">have the night of your life</h1>
    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, fuga omnis nostrum eaque, velit alias voluptate sunt perferendis ducimus nam facilis laboriosam exercitationem quod, maiores debitis modi dolore harum ipsa?</p>
    
                </div>

            </div>

            <div class="container container_5">

                <div class="first_row_card">

                    <div class="card_wrapper">

                        <img src="img/avada-nightclub-dancelounge-small.jpg" alt="">

                        <h4 class="card_title">dance lounge</h4>

                        <div class="blue_line"></div>

                    </div>

                    <div class="card_wrapper">

                        <img src="img/avada-nightclub-rooftoplounge-small.jpg" alt="">

                        <h4 class="card_title">rooftop bar</h4>

                        <div class="purple_line"></div>

                    </div>

                </div>

                <div class="second_row_card">

                    <div class="card_wrapper">
    
                        <img src="img/avada-nightclub-viplounge-small.jpg" alt="">
    
                        <h4 class="card_title">vip lounge</h4>
    
                        <div class="gold_line"></div>
    
                    </div>
    
                    <div class="card_wrapper">
    
                        <img src="img/avada-nightclub-events-small.jpg" alt="">
    
                        <h4 class="card_title">resident dj</h4>
    
                        <div class="red_line"></div>
    
                    </div>
    
                </div>

            </div>

        </section>

    </div>















    <!-- SCRIPT_JS -->
    <script src="js/script.js"></script>

</body>

</html>